# Default ignored files
/shelf/
/workspace.xml
.idea
__pycache__
Unity/ESGI Procedural Animation/Assets/_Vendor/Zenject/OptionalExtras/IntegrationTests/Tests/Bindings/TestFromComponentInHierarchyGameObjectContext/TestFromComponentInHierarchyGameObjectContext.cs.meta
